* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    background-color: #f7eded;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.head-section__button {
    display: none;
}

.head-section__burger {
    width: 1.5rem;
    aspect-ratio: 1;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:999;
}

.head-section__burger > span,
.head-section__burger > span::before,
.head-section__burger > span::after {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: all .3s ease-in-out;
}

.head-section__burger > span::before {
    content: '';
    top: -8px;
}

.head-section__burger > span::after {
    content: '';
    top: 8px;
}

.head-section__button:checked ~ .head-section__burger > span {
    transform: rotate(45deg);
}

.head-section__button:checked ~ .head-section__burger > span::before {
    transform: rotate(0);
    top: 0;
}

.head-section__button:checked ~ .head-section__burger > span::after {
    transform: rotate(90deg);
    top: 0;
}

.head-section__navigation {
    max-width: 1000px;
    margin-inline: auto;
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: cadetblue;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

.navigation-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 4rem;
}

.head-section__list-item {
    list-style-type: none;
    text-align: right;
    padding: 2rem;
    width: 100%;
    border-top: 1px solid #c8c8c8;
    transform: translateX(2rem);
    transition: transform 0.5s ease-in-out, opacity .5s ease-in-out;
    opacity: 0;
}
.head-section__list-item:nth-child(1) {
    transition-delay: .2s;
}
.head-section__list-item:nth-child(2) {
    transition-delay: .4s;
}
.head-section__list-item:nth-child(3) {
    transition-delay: .6s;
}

.head-section__list-item:nth-child(4) {
    transition-delay: .8s;
    border-bottom: 1px solid #c8c8c8;
}

.head-section__list-item:active,
.head-section__list-item:hover {
    background-color: rgb(80, 134, 136);
}

.head-section__button:checked ~ .head-section__navigation {
    transform: translateX(0);
    display: block;
}


.head-section__button:checked ~ .head-section__navigation > .head-section__nav-list > .head-section__list-item {
    transform: translateX(0);
    opacity: 1;
}

@media screen and (min-width: 750px) {
    .header {
        width: 100%;
        background-color: cadetblue;
    }

    .head-section__burger {
        display: none;
    }

    .head-section__navigation {
        transform: translateX(0);
        height: inherit;
    }

    .head-section__nav-list {
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .head-section__list-item {
        opacity: 1;
        text-align: center;
        border: none;
        transform: translateX(0);
        transition: none;
    }
}