@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*-----root-----*/
:root {
    /*---root for text font---*/
    --text-font-open: 'Open Sans', 'sefir';
    --text-font-noto: 'Noto Sans', 'sefir';

    --color-light-brown: #aa9989;
    --color-mid-brown: #7D6855;
    --color-dark-brown: #492E1D;
    --color-light-beige: #FFFDF6;
    --color-white: #FFFFFF;
    --color-light-white: #FAFAFA;
    --color-mid-white: #f7f7f7;
    --color-grey: #747474;
    --color-dark-grey: #5F6060;
    --color-black: #222222;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {    
    display: grid;
    place-items: center;
}

.wrapper {
    min-width: 576px;
    max-width: 1000px;
    height: auto;
    background-color: var(--color-white);
    box-shadow: 0 0 5px var(--color-grey);
}

/*-----HEADER-----*/
/*HEAD-SECTION*/
.head-section {
    background-image: url('https://i.postimg.cc/cLD4SFyz/03-day.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 3rem 3rem 0rem 3rem;

    position: relative;
}
    
/*WRAPP HEADER*/
.head-section__wrapper {
    padding-bottom: 20rem;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
}

/*BORZ.AI LOGO*/
.head-section__image {
    width: 100%;
}

.head-section__container {
    width: 25%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*MENU IN TOP RIGHT SIDE*/
.head-section__navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .5rem;
}

.head-section__nav-item {
    text-decoration: none;
}

/*TEXT IN MENU*/
.head-section__text {
    padding: 1rem;
    color: var(--color-light-white);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--text-font-open);
}

/*HOVER FOR TEXT IN MENU*/
.head-section__text:hover{
    background-color: #0101014c;
}

/*HAMBURGER BUTTON FOR MENU - SHOW IN MOBLIE FORM*/
.head-section__button--hamburger {
    display: none;
}

/*-----SEARCH NAVIGATION-----*/
.head-section__form {
    font-family: var(--text-font-open);

    position: absolute;
    bottom: -3.68rem;
    margin-right: 3rem;
    border-radius: .5rem;

    background-color: var(--color-mid-brown);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "label-first label-first label-second label-second label-third label-fourth button-bok"
    "input-first input-first input-second input-second input-third input-fourth button-bok";
}

.head-section__input {
    color: var(--color-grey);
    border-radius: .5rem;
    border: none;
    padding: 0 1rem;
}

.head-section__label {
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
}

/*USE GRID AREA FOR CONTROL POSITION IN SEARCH SECTION*/
.head-section__label--first {
    grid-area: label-first;
    padding: 1.5rem 1rem 0;
}

.head-section__input--first {
    grid-area: input-first;
    margin: 0 1rem 1rem 1rem;
}

.head-section__label--second {
    grid-area: label-second;
    padding: 1.5rem 1rem 0;
}

.head-section__input--second {
    grid-area: input-second;
    margin: 0 1rem 1rem 1rem;
}

.head-section__label--third {
    grid-area: label-third;
    width: 11.5%;
    padding: 1.5rem 1rem 0;
}

.head-section__input--third {
    grid-area: input-third;
    width: 70%;
    margin: 0 1rem 1rem 1rem;
}

.head-section__label--fourth {
    grid-area: label-fourth;
    width: 11.5%;
    padding: 1.5rem 1rem 0;
}

.head-section__input--fourth {
    grid-area: input-fourth;
    width: 70%;
    margin: 0 1rem 1rem 1rem;
}

.head-section__button--box {
    border-radius: 0 .5rem .5rem 0;
    grid-area: button-bok;
    padding: 3rem;
    background-color: var(--color-dark-brown);
}

.head-section__button--sok {
    color: var(--color-white);
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    background-color: var(--color-dark-brown);
}

/*-----MAIN SECTION-----*/
.main-section {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding: 0 3rem;
}

.main-section__container--first {
    display: flex;
}

.main-section__image {
    aspect-ratio: 5 / 4;
    width: 100%;
}

.main-section__box--left {
    width: 50%;
}

.main-section__box--right {
    width: 50%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}

.main-section__box--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 5rem;
}

.main-section__title {
    font-family: var(--text-font-noto);
    color: var(--color-black);
    font-size: 2rem;
    align-self: flex-start;
    margin-top: 1rem;
}

.main-section__title--booking {
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 1rem;
}

.main-section__subtitle {
    font-family: var(--text-font-open);
    color: var(--color-dark-grey);
    font-size: 1rem;
    margin-left: 2rem;
}

.main-section__subtitle--booking {
    text-align: center;
    margin-bottom: 4rem;
}

/*-----GALLERY SECTION-----*/
.main-section__container--gallery .main-section__subtitle {
    margin-top: 2rem;
}

.main-section__box--image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main-section__image--gallery {
    width: 48%;
}

/*-----BOOKING PAGE-----*/


/*BUTTON IN GALLERY (TO MOVE IT TO CENTER)*/
.main-section__button-box--second {
    display: flex;
    justify-content: center;
}

.main-section__button {
    width: 10rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--color-mid-brown);
    color: var(--color-white);
    text-decoration: none;
    font-size: 1rem;
}

/*-----ASIDE SECTION-----*/
.aside-section {
    padding-top: 80px;
    margin-bottom: 5rem;
}

/*THIS FOR ASIDE SECTION CONTAINER
TO USE DIFFIRECE BACKGROUND AND REVERSE*/
.aside-section__container--normal {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    background-image: url('https://i.postimg.cc/DwzBCPr6/08-night.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
}

.aside-section__container--reverse {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('https://i.postimg.cc/CMB02bNF/07-day.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
}

.aside-section__container--view{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row-reverse;
    background-image: url('https://i.postimg.cc/KcgxLbkc/09-night.jpg');    
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 30px;
}

.aside-section__box {
    width: 46%;
    padding-right: 8%;
    position: relative;
}

.aside-section__text {
    font-family: var(--text-font-noto);
    font-size: 1.5rem;
    background-color: var(--color-light-brown);
    color: var(--color-white);
    position: absolute;
    bottom: -5rem;
    width: 100%;
    padding: 2rem;

    aspect-ratio: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
}

.aside-section__subtitle {
    padding-left: 2rem;
    font-size: 1rem;
    font-family: var(--text-font-open);
}

.aside-section__text--responsive {
    max-width: 100%;
    height: auto;
}

.aside-section__profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 9rem;

    font-family: var(--text-font-open);
    font-size: .7rem;
}

.aside-section__image {
    background-color: var(--color-white);
    aspect-ratio: 1;
    width: 5rem;
    border-radius: 50%;
    padding: .5rem;
    margin-left: 2rem;
    margin-right: 1rem;
}

/*-----FOOTER SECTION-----*/
.footer-section {
    background-color: var(--color-mid-brown);
    font-family: var(--text-font-open);
    margin-top: 7rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section__navigation {
    list-style-type: none;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.footer-section__nav-item {
    padding: 1rem;
    color: var(--color-white);
    font-family: var(--text-font-noto);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-section__title {
    font-size: 1.5rem;
}

.footer-section__image {
    width: 90%;
}

.footer-section__info {
    color: var(--color-white);
    font-weight: 500;
}

@media (max-width: 760px) {
    .head-section__nav-item {
        display: none;
    }

    .head-section__button--hamburger {
        display: block;
    }

    /*-----MAIN SECTION-----*/
    .main-section__box--right {
        padding: 1.5rem;
        gap: 1.2rem;
    }

    .main-section__title {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .main-section__subtitle {
        font-size: .7rem;
    }

    /*-----GALLEY SECTION-----*/
    .main-section__container--gallery .main-section__subtitle {
        margin-top: 1rem;
    }

    .main-section__image--gallery {
        width: 45;
    }


    /*-----BUTTON SECTION-----*/
    .main-section__button {
        width: 7rem;
        font-size: .7rem;
    }
}

@media (min-width: 375px) and (max-width: 576px) {
    
}